<!DOCTYPE html>
<html lang="en" id="home">

<head>
	<title>BolaOn : Create Update Lapangan</title>
	<link rel="../img/logosquare.png" href="img/logosquare.png">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css -->
	<link href="../css/style2.css" rel="stylesheet">

	<!-- Bootstrap -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">

	<!-- Bootstrap Online-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Font Online -->

	<link href="https://fonts.googleapis.com/css?family=Courgette|Handlee|Lato|Poppins|Righteous|Saira|Text+Me+One" rel="stylesheet">

</head>

<body>

	<!-- Navbar -->
	<nav class="navbar nav-pills navbar-fixed-top">
		<div class="container-fluid">

			<div class="navbar-header">

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#home">
					<img alt="Brand" src="../img/logo.png">
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#lapangan">Lapangan</a></li>
					<li><a href="#pesanan">Pesanan</a></li>

				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
	
	<section>

<div class="inputlapangan">
	<h2><strong>Tambah Lapangan</strong></h2>
			<div class="input-group input-group-sm">
			<form action="addlapangan">
			<input type="text" name="nlengkap" class="inputtext single" placeholder="Nama">
			<input type="text" name="Email" class="inputtext single" placeholder="Email">
			<input type="text" name="nope" class="inputtext single" placeholder="Nomer HP">
			<input type="password" name="pass" class="inputtext single" placeholder="Password">
			<input type="password" name="confpass" class="inputtext single" placeholder="Konfirmasi password">
			<input type="checkbox" name="check" id="check"><label for="check">Saya Setuju dengan syarat dan ketentuan</label>
			<input type="submit" value="Daftar" class="btn daftar"> 
		</form>
	</div>
			</div>
		</section>

		<section class="tentang" id="tentang">
			<div container>
				<div class="row">
					<div class="col-md-6">
						<h2><strong>Tentang</strong></h2>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>


					<div class="col-md-6">
						<a href="#thumbnail" class="thumbnail">
							<img src="../img/img2.png" alt="...">
						</a>

					</div>
				</div>

			</div>
		</div>
	</section>
	<section class="kontak" id="kontak">
		<div class="row">
			<div class="kontak text-center">
				<h2><strong>Contact</strong></h2>
				<hr>
			</div>

			<div class="col-lg-12">

			</div>
		</div>
	</section>

	<footer>
		<div class="row">

		</div>

	</footer>



	<script src="../js/jquery-3.3.1.min"></script>
	<script src="../js/bootstrap.min.js"></script>
</div>
</div>
</body>
</html>
