<!DOCTYPE html>
<html lang="en" id="home">

<head>
	<title>BolaOn : Booking Lapangan Online</title>
	<link rel="../img/logosquare.png" href="img/logosquare.png">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css -->
	<link href="../css/style2.css" rel="stylesheet">

	<!-- Bootstrap -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

	<!-- Navbar -->
	<nav class="navbar navbar-inverse fixed-top">
		<div class="container-fluid">

			<div class="navbar-header">

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#home">
					<img alt="Brand" src="../img/logo.png">
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#login">Daftar</a></li>
					<li><a href="#login">Masuk</a></li>
					<li><a href="#tentang">Tentang</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<section class="banner">
		<div class="filter"></div>
		<div class="container">
		</a>
		<h1>Selamat datang di BolaON,</h1>
		<h1>layanan Booking Lapangan Futsal Online</h1>
	</div>
</section>


<div class="container">

	<div class="jumbotron">

		<div class="form-group">
			<div class='input-group date' id='datetimepicker1'>
				<input type='text' class="form-control" />
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>


	<script type="text/javascript">
		$(function () {
			$('#datetimepicker1').datetimepicker();
		});
	</script>

	<a class="btn btn-default" href="#" role="button">Pilih Tanggal</a>
</div>

<section class="daftar" id="daftar">
	<div class="row">
		<div class="col-md-8">

			<a href="#thumbnail" class="thumbnail">
				<img src="../img/img4.png" alt="...">
			</a>

		</div>

		<div class="col-md-4">
			<h2><strong>Daftar</strong></h2>
		</div>

		<div class="col-md-4">
			<form>
				<div class="form-group">
					<label for="exampleInputNama">Nama</label>
					<input type="text" class="form-control" id="exampleInputNama" placeholder="Nama">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>

				<button type="submit" class="btn btn-default">Daftar</button>

				<button type="submit" class="btn btn-default">Masuk</button>
			</form>
		</div>
	</section>



	<section class="tentang" id="tentang">
		<div container>
			<div class="row">
				<div class="col-md-6">
					<h2><strong>Tentang</strong></h2>
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>


				<div class="col-md-6">
					<a href="#thumbnail" class="thumbnail">
						<img src="../img/img6.png" alt="...">
					</a>

				</div>
			</div>

		</div>
	</div>
</section>

<div class="row">
	<div class="kontak text-center">
		<h2><strong>Contact</strong></h2>
		<hr>

	</div>


	<div class="col-lg-12">

	</div>
</div>



<script src="../js/jquery-3.3.1.min"></script>
<script src="../js/bootstrap.min.js"></script>
</div>
</div>
</body>
</html>
